<html>

<head>
	<link rel="stylesheet" href="css/ui.css" type="text/css" />
	<link rel="stylesheet" href="css/effects.css" type="text/css" />
	<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">-->
</head>
<body>
	<div class="header" id="header">
		<div class="header-item" v-for="dir in getHeaderItems()" :style="dir.style">
			<!-- TODO: position multiple icons correctly -->
			<div class="header-icon">
				<!--<i v-for="type in dir.types" :class="['fas','fa-' + type]"></i>-->
			</div>
			<span>{{ dir.name }}</span>
			<div class="header-state">
				<div class="header-state-loader" :data-state="dir.state"></div>
			</div>
		</div>
	</div>
	<div class="main" id="main" v-on:mousemove="onMousemove" v-on:click="onClick">
		<div class="timeline">
			<div class="timeline-item timeline-item-bold" v-for="t in getTimelineItems(this)" :style="t.style">
				<span>{{ t.time }}</span>
			</div>
		</div>
		<div class="main-column" v-for="dir in getMainItems(this)" :style="dir.style">
			<div v-for="file in dir.files" :style="file.style" class="main-item" :data-path="file.path" :data-type="file.type" :data-start="file.start" :data-end="file.end">
			</div>				
		</div>
	</div>
	<div class="footer">
		<div class="footer-button" id="open-dir">
			<i class="fas fa-folder-open"></i>Open dir
		</div>
		<div class="footer-button">
			<i class="fas fa-cog"></i>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/files.js"></script>
<script type="text/javascript" src="js/ui.js"></script>
</html>
