<html>

<head>
	<link rel="stylesheet" href="css/ui.css" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
	<div class="header" id="header">
		<div class="header-item" v-for="item in getHeaderItems()" :style="item.style">
			<div class="header-icon">
				<i v-if="item.types.indexOf('audio') >= 0" class="fas fa-music"></i>
				<i v-if="item.types.indexOf('video') >= 0" class="fas fa-video"></i>
			</div>
			<span>{{ item.name }}</span>
		</div>
	</div>
	<div class="main" id="main" v-on:mousemove="onMousemove">
		<div class="timeline">
			<!--<div class="timeline-item timeline-item-bold">
				<span>12:00</span>
			</div>-->
		</div>
		<div class="main-column" v-for="dir in getMainItems(this)" :style="dir.style">
			<div v-for="file in dir.files" :style="file.style" class="main-item" :data-path="file.path" :data-type="file.type">
			</div>				
		</div>
	</div>
	<div class="footer">
		<div class="footer-button" id="open-dir">
			<i class="fas fa-folder-open"></i>Open dir
		</div>
		<div class="footer-button">
			<i class="fas fa-cog"></i>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/files.js"></script>
<script type="text/javascript" src="js/ui.js"></script>
</html>
