<html>

<head>
	<link rel="stylesheet" href="bundle.css" type="text/css" />
	<link rel="stylesheet" href="fontawesome/css/all.css" type="text/css" />
</head>
<body>
	<!--<div class="range" id="range">28.02.2019, 08:00 -- 29.02.2019, 09:00</div>-->
	<div class="header" id="header">
		<div class="header-item" v-for="(dir, index) in getHeaderItems()" :style="dir.style">
			<div class="header-button-group">
				<div class="header-button" v-on:click="onHeaderSettingsClick"><i class="fas fa-cog"></i></div>
				<div class="header-button header-button-close" :data-index="index" v-on:click="onHeaderCloseClick"><i class="fas fa-times"></i></div>
			</div>
			<div class="header-title">{{ dir.name }}</div>
			<div class="header-state">
				<div class="header-state-loader" :data-state="dir.state"></div>
			</div>
		</div>
	</div>
	<div class="main" id="main" v-on:mousemove="onMousemove" v-on:dblclick="onMainDoubleClick">
		<div class="timeline" v-if="directories.length > 0">
			<div class="timeline-item timeline-item-bold" v-for="t in getTimelineItems(this)" :style="t.style">
				<span>{{ t.time }}</span>
			</div>
		</div>
		<div class="main-column" v-for="dir in getMainItems(this)" :style="dir.style" >
			<div v-for="file in dir.files" :style="file.style" class="main-item" v-on:dragstart="onDragStart"
				:data-path="file.path" :data-type="file.type" :data-start="file.start" :data-end="file.end" draggable="true">
				<div class="main-item-count" v-if="file.paths.length > 1">{{ file.paths.length }}</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-button" id="open-dir">
			<i class="fas fa-folder-open"></i> Open dir
		</div>
		<div class="footer-button">
			<i class="fas fa-cog"></i>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/files.js"></script>
<script type="text/javascript" src="js/ui.js"></script>
</html>
