@import 'colors';

.settings-overlay {
	position: absolute;
	top: 24px; // space for title bar
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	overflow: hidden;

	.settings-cancel-area {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
	}

	.settings-box {
		background: @background-main;
		padding: 1em;
		min-width: 250px;
		width: 90vw;
		max-width: 500px;
		height: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;

		display: flex;
		flex-direction: column;
		align-items: stretch;

		.settings-main {
			flex-grow: 1;

			h1 {
				font-size: 18px;
				margin: 0;
				margn-bottom: 6px;
			}
			h2 {
				margin: 0;
				margin-bottom: 6px;
				font-size: 14px;
			}
		}
		
		.settings-button-group {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		
			button:first-child {
				margin-right: 8px;
			}
		}
	}
}

